name: Commit Prefix Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Check Commit Message
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^(patch|feature|update): .*'
          error: 'STOP! Your commit must start with "patch:", "feature:", or "update:".'
          checkAllCommits: 'true'

      - name: Auto-merge if Bouncer passes
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: "squash"
          MERGE_LABELS: "" # This makes it merge everything that passes checks