name: Auto Tagging
on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Calculate Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main
          patchList: patch, update, fix
          minorList: feature, feat
          noVersionBumpBehavior: patch 

      - name: Create Git Tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          # This creates an annotated tag locally
          git tag -a ${{ steps.semver.outputs.next }} -m "Auto-tag for commit: ${{ github.event.head_commit.message }}"
          # This pushes ONLY the tag to the server
          git push origin ${{ steps.semver.outputs.next }}